:root{
    font-family: Raleway, sans-serif;
    --Green: #155B55;
    --Gold: #E3CF97;
    --Brown: #B79450;
    --White: #ffff; 
    --Grey: rgb(166, 166, 166);
}

body{
    background-color: var(--White);
}

#environChoix{
    margin: 10rem;
}

.lignCard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin: 1em 0;
}

.cardChoix {
    display: flex;
    flex-direction: column;
    align-items: center; 

    border: 3px solid var(--Gold);
    background-color: var(--White);
  }
  
  .cardChoix a {
    padding: 10px;

    text-decoration: none;
    color: black;
    font-weight: 600;

  }

.cardLocation {
    display: flex;
    flex-direction: column;
    align-items: center; 

    margin: 30px 40px 100px 40px;

    background-color: var(--Gold);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  }
  

  .cardLocation a{
    padding: 10px;

    text-decoration: none;
    color: black;
    font-weight: 600;
  }

.texte{
    margin-top: 40px;
}  

  .p1{
    font-weight: 700;
  } 

  .p2{
    margin: 0;
  }


@media (max-with: 700px){
  .hidden{
    display: none;
  }
}